In [3]:
import pandas as pd

In [5]:
!wget https://dst-de.s3.eu-west-3.amazonaws.com/fastapi_en/questions_en.xlsx

--2025-03-16 18:40:23--  https://dst-de.s3.eu-west-3.amazonaws.com/fastapi_en/questions_en.xlsx
Resolving dst-de.s3.eu-west-3.amazonaws.com (dst-de.s3.eu-west-3.amazonaws.com)... 3.5.226.101, 3.5.226.172
Connecting to dst-de.s3.eu-west-3.amazonaws.com (dst-de.s3.eu-west-3.amazonaws.com)|3.5.226.101|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11954 (12K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘questions_en.xlsx’

questions_en.xlsx   100%[===================>]  11.67K  --.-KB/s    in 0s

2025-03-16 18:40:23 (93.6 MB/s) - ‘questions_en.xlsx’ saved [11954/11954]

In [8]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [ ]:
df = pd.read_excel('questions_en.xlsx') #type: ignore
df.head()

,question,subject,use,correct,responseA,responseB,responseC,responseD,remark
0,What does No-SQL stand for?,Databases,Positioning test,A,Not OnlySQL,NoSQL,Not all SQL,NaN,NaN
1,Cassandra and HBase are databases,Databases,Positioning test,C,relational database,object-oriented,column-oriented,graph-oriented,NaN
2,MongoDB and CouchDB are databases,Databases,Positioning test,B,relational database,object-oriented,column-oriented,graph-oriented,NaN
3,OrientDB and Neo4J are databases,Databases,Positioning test,D,relational database,object-oriented,column-oriented,graph-oriented,NaN
4,"To index textual data, I can use",Databases,Positioning test,A,ElasticSearch,Neo4J,mysql,NaN,NaN